* {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 300px;
    height: 450px;
    float: left;
}

header {
    font-size: xx-large;
    font-style: bold;
}

table {
    font-size: medium;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}







